{% extends "base.html" %}

{% block content %}
<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>Maintenance Requests</h2>

        <a href="/maintenance/requests/new/" class="btn btn-success">
            + New Request
        </a>

    </div>

    <table class="table table-bordered table-hover table-striped">

        <thead class="table-dark">

            <tr>
                <th>Request ID</th>
                <th>Machine</th>
                <th>Department</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Engineer</th>
            </tr>

        </thead>

        <tbody>

        {% for request in requests %}

            <tr>

               <td>
    <a href="{% url 'maintenance_request_detail' request.pk %}">
        {{ request.request_id }}
    </a>
</td>

                <td>{{ request.machine_name }}</td>

                <td>{{ request.department }}</td>

                <td>

                    {% if request.priority == "Critical" %}
                        <span class="badge bg-danger">Critical</span>

                    {% elif request.priority == "High" %}
                        <span class="badge bg-warning text-dark">High</span>

                    {% elif request.priority == "Medium" %}
                        <span class="badge bg-info text-dark">Medium</span>

                    {% else %}
                        <span class="badge bg-success">Low</span>

                    {% endif %}

                </td>

                <td>

                    {% if request.status == "Completed" %}
                        <span class="badge bg-success">Completed</span>

                    {% elif request.status == "In Progress" %}
                        <span class="badge bg-primary">In Progress</span>

                    {% elif request.status == "Assigned" %}
                        <span class="badge bg-warning text-dark">Assigned</span>

                    {% else %}
                        <span class="badge bg-danger">Open</span>

                    {% endif %}

                </td>

                <td>

                    {% if request.assigned_engineer %}
                        {{ request.assigned_engineer }}
                    {% else %}
                        -
                    {% endif %}

                </td>

            </tr>

        {% empty %}

            <tr>

                <td colspan="6" class="text-center">
                    No maintenance requests found.
                </td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}